.App {
	text-align: center;
}

.center {
	justify-self: center;
}

.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: linear-gradient(89deg, #283048 0%, #859398 100%);
}
